<section class="agent-detail <%= "hidden" if hidden %>" data-agent-detail="<%= agent[:id] %>">
  <%= turbo_frame_tag "agent_#{agent[:id]}_metrics",
                      refresh: "morph",
                      data: {
                        controller: "poll",
                        poll_interval_value: 1000,
                        poll_url_value: agent_metrics_path(agent[:id])
                      } do %>
    <%= render "agent_metrics", agent: agent %>
  <% end %>

  <%= render "widget_messages", agent: agent %>
</section>
