<article class="widget tui-box span-4">
  <h3>storage pools</h3>
  <div class="bar-list">
    <% storages.each do |pool| %>
      <div class="bar-row">
        <div class="bar-row-head">
          <span><%= pool[:name] %></span>
          <strong><%= pool[:used].round %>/<%= pool[:total].round %> GB · <%= pool[:percent] %>%</strong>
        </div>
        <div class="bar-track <%= pool[:tone] %>"><span style="width: <%= [pool[:percent], 100].min %>%"></span></div>
      </div>
    <% end %>
  </div>
</article>
